<mat-card class="tech-profile-experience-card" flex>

    <div class="tech-profile-experience-container">

      <mat-card-content>

        <form *ngIf="!user?.profile || user?.profile?.experiences?.length === 0 || editable === true" [formGroup]="experienceForm" class="tech-profile-experience-form">
          <mat-grid-list [cols]="breakpoint" rowHeight="8:1" (window:resize)="onResize($event)">

            <mat-grid-tile-header align="center"><span style=" color: #a8c4d2;">Experience Snapshot</span></mat-grid-tile-header>

            <div class="tech-edit-option">
              <a *ngIf="editable" (click)="hideForm()"><i class="fa fa-close"> Cancel</i></a>
            </div>

            <div *ngFor="let experience of experiences">
              <mat-grid-tile [colspan]="breakpoint">
                <label class="tech-exp-label">Project Title : <span class="tech-secondary-color">{{experience.project}}</span> </label>
              </mat-grid-tile>

              <mat-grid-tile>
                <label class="tech-exp-label">Worked From&nbsp;:&nbsp;<span class="tech-secondary-color">{{experience.fromDate | date:'dd/MM/yyyy'}}</span></label>
              </mat-grid-tile>

              <mat-grid-tile>
                <label class="tech-exp-label">To&nbsp;:&nbsp;<span class="tech-secondary-color">{{experience.toDate | date:'dd/MM/yyyy'}}</span></label>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="breakpoint" class="tech-project-description" [rowspan]="isMobileView ? 4 : 2">
                <label class="tech-exp-label">Project Description: <span class="tech-secondary-color">{{experience.description}}</span></label><br>
                <mat-divider style="margin-top: 15px;"></mat-divider>
              </mat-grid-tile>
            </div>

            <mat-grid-tile [colspan]="breakpoint">
              <mat-form-field floatLabel="never" [style.width]="isMobileView ? '75%' : '88%'">
                <span matPrefix>Project Title:</span>
                <input matInput [formControl]="project" placeholder="Enter your project title" aria-label="Project">
                <mat-error *ngIf="project.invalid">{{getProjectTitleErrorMessage()}}</mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field floatLabel="never">
                <span matPrefix>Worked From&nbsp;:&nbsp;</span>
                <input matInput [matDatepicker]="fromDatePicker" [formControl]="fromDate" placeholder="Choose date" aria-label="From">
                <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #fromDatePicker></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field floatLabel="never">
                <span matPrefix>Up to&nbsp;:&nbsp;</span>
                <input matInput [matDatepicker]="toDatePicker" [formControl]="toDate" placeholder="Choose date" aria-label="To">
                <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #toDatePicker></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="breakpoint" [rowspan]="2">
              <mat-form-field floatLabel="never" [style.width]="isMobileView ? '73%' : '86%'">
                <textarea [formControl]="description" style="height: 70px;border: 1px solid #999999;margin-bottom: -6px;"
                          placeholder="Please describe your project..."
                          aria-label="Project Description"
                          matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="3">
                </textarea>
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>

          <div style="margin-left: 150px;">
            <div *ngIf="loading" class="tech-profile-experience-loading">
              <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
            </div>
            <div *ngIf="loaded" class="tech-profile-experience-message">
              <span>{{showSuccessMessage()}}</span>
            </div>
            <div *ngIf="error" fxFlexAlign="center" class="tech-profile-experience-error">
              <span style="color: red;">An error has occurred while saving the portfolio.</span>
            </div>
          </div>

          <mat-card-footer style="margin: auto;">
            <mat-card-actions class="tech-profile-experience-card-footer">
              <button (click)="save()" [disabled]="enableActionButton()" mat-raised-button color="primary">Save</button>
              <button (click)="addMore()" [disabled]="enableActionButton()" mat-raised-button color="primary">Add More</button>
              <button (click)="clear()" [disabled]="enableActionButton()" mat-raised-button color="secondary">Cancel</button>
            </mat-card-actions>
          </mat-card-footer>
        </form>

        <mat-divider *ngIf="editable"></mat-divider>

        <mat-grid-tile-header *ngIf="user?.profile?.experiences?.length > 0 || (editable === true)" align="center"><span style=" color: #a8c4d2;">Experience Snapshot</span></mat-grid-tile-header>

        <div *ngFor="let experience of user?.profile?.experiences">
          <mat-grid-list [cols]="breakpoint" rowHeight="12:1" (window:resize)="onResize($event)">

            <div class="tech-edit-option">
              <mat-icon [matMenuTriggerFor]="menu">settings</mat-icon>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="showForm(experience)" style="color: #007db8;">Edit</button>
                <button mat-menu-item (click)="showForm()" style="color: #007db8;">Add More</button>
              </mat-menu>
            </div>

            <mat-grid-tile [colspan]="breakpoint">
              <label class="tech-exp-label">Project Title : <span class="tech-secondary-color">{{experience.project}}</span> </label>
            </mat-grid-tile>

            <mat-grid-tile>
              <label class="tech-exp-label">Worked From&nbsp;:&nbsp;<span class="tech-secondary-color">{{experience.fromDate | date:'dd/MM/yyyy'}}</span></label>
            </mat-grid-tile>

            <mat-grid-tile>
              <label class="tech-exp-label">To&nbsp;:&nbsp;<span class="tech-secondary-color">{{experience.toDate | date:'dd/MM/yyyy'}}</span></label>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="breakpoint" class="tech-project-description">
              <label class="tech-exp-label">Project Description: <span class="tech-secondary-color">{{experience.description}}</span></label><br>
              <mat-divider style="margin-top: 15px;"></mat-divider>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

      </mat-card-content>
    </div>

</mat-card>
