@import "../../../app.component";

$pending-blog-width: 100%;

.tech-pending-blog-card{
  margin: auto;
}
h5{
  margin: auto;
  color: $main-color;
}
.tech-pending-blog-container {
  display: flex;
  flex-direction: column;
}

.tech-pending-blog-container > * {
  width: $pending-blog-width;
}

table {
  width: 100%;
  th, td{
    padding: 10px;
  }
}
.tech-pending-blog-spinner{
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#tech-table-header {
  background-color: #007db8;
  text-decoration: white;
}
.mat-form-field {
  font-size: 14px;
  width: 98%;
  margin-left: 10px;
  margin-bottom: -18px;
}
