$main-color: #007db8;

div[fxLayout] {
  margin-top: 0px;
}

.tech-blog-error {
  margin: auto;
  color: red;
  background-color: antiquewhite;
}
.tech-searching-spinner{
  margin: auto;
  width: 140px;
  height: 35px;
}
.tech-searching-spinner-label{
  position: relative;
  top: -25px;
  left: 35px;
}
h4{
  margin-top: 0px;
  margin-bottom: 10px;
  color: $main-color;
}
.tech-card-content{
  margin-bottom: 0px;
}
.tech-profile-image {
  height: 50px;
  width: 50px;
  background-image: url('../../../assets/img/icons/no-profile.png');
  background-size: cover;
}
.tech-user-image {
  height: 50px;
  width: 50px;
  background-size: cover;
}
.tech-home-card {
  margin-bottom: 2px;
}
.tech-home-card-header{
  color: $main-color;
}
hr{
  color: $main-color;
  margin-top: 0px;
}
a{
  text-decoration: none;
}
span{
  font-size: 16px;
  line-height: 22px;
}
button{
  background-color: aliceblue;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

