<div class="main-container" [class.is-mobile-device]="mobileQuery.matches">
  <mat-toolbar color="primary" class="main-nav mat-elevation-z4">
    <mat-toolbar-row>
      <button mat-icon-button (click)="drawer.toggle()" class="icon-padding">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon class="tech-logo" svgIcon="technocracy"></mat-icon>

      <!-- =============================================================== -->
      <!--                   Technocracy logo and slogan                   -->
      <!-- =============================================================== -->
      <a mat-button routerLink="/home" style="padding-left: 5px;">
        <h1 [ngStyle]="isMobileView ? {'margin-right':'0px'} : {'margin-right':'100px', 'margin-bottom':'-18px','margin-top':'9px'}">
          Technocracy
        </h1>
        <span fxShow fxHide.lt-sm fxHide.lt-md id="tech-slogan">Where knowledge is open for everyone!</span>
      </a>

      <!-- =============================================================== -->
      <!--                   desktop search text field                     -->
      <!-- =============================================================== -->
      <mat-form-field *ngIf="!mobileQuery.matches" floatLabel="never" color="accent" class="tech-search-box">
        <mat-icon matPrefix style="font-size: 21px;">search</mat-icon>
        <input type="search" matInput placeholder="search blog or question here" (keyup)="search($event.target.value)">
      </mat-form-field>

      <span class="flex-spacer"></span>

      <!-- =============================================================== -->
      <!--                   header menu options                           -->
      <!-- =============================================================== -->
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="rootMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>

    <!-- =============================================================== -->
    <!--                mobile device search text field                  -->
    <!-- =============================================================== -->
    <mat-toolbar-row *ngIf="mobileQuery.matches">
      <mat-form-field floatLabel="never" color="accent" class="tech-search-box-xs">
        <mat-icon matPrefix style="font-size: 21px;">search</mat-icon>
        <input type="search" matInput placeholder="Search blog or question here" (keyup)="search($event.target.value)">
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <!-- =============================================================== -->
    <!--                   left side nav bar                             -->
    <!-- =============================================================== -->
    <mat-sidenav #drawer class="mat-elevation-z10"
                 mode="{{isMobileView ? 'over' : 'side' }}"
                 opened="{{isMobileView ? false : true}}" fixedTopGap="64"
                 disableClose="{{!isMobileView}}"
                 [fixedInViewport]="mobileQuery.matches" role="navigation"
                 style="width:270px;">
      <tech-left-side-bar [user]="user$ | async"></tech-left-side-bar>

      <!-- =============================================================== -->
      <!--              left side nav bar options                          -->
      <!-- =============================================================== -->
      <mat-list class="tech-nav-list">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header> <!--Profile category list-->
            <mat-panel-title style="color: #007db8;">
              <mat-icon class="tech-nav-header-icon">perm_identity</mat-icon>
              <span class="nav-list-item-text">Profile</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="tech-nav-sublist">
            <ng-container> <!--Profile sub category list-->
              <mat-list-item (click)="isMobileView ? drawer.toggle() : false" routerLinkActive="mat-icon-active" style="color: #007db8;">
                <mat-icon mat-list-icon>perm_identity</mat-icon>
                <span [routerLink]="['/profile/view', authenticatedUser?.profile?._id ? authenticatedUser?.profile?._id :'create']" mat-line>My Profile</span>
              </mat-list-item>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="authenticatedUser?.role === 'admin'" hideToggle>
          <mat-expansion-panel-header> <!-- Admin category list-->
            <mat-panel-title style="color: #007db8;">
              <mat-icon class="tech-nav-header-icon">person</mat-icon>
              <span class="nav-list-item-text">Admin</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="tech-nav-sublist">
            <ng-container> <!--Admin sub category list-->
              <mat-list-item (click)="isMobileView ? drawer.toggle() : false" routerLinkActive="mat-icon-active" style="color: #007db8;">
                <mat-icon mat-list-icon>note</mat-icon>
                <span [routerLink]="['/blog/pending', 'view']" mat-line>Pending Blog</span>
              </mat-list-item>
              <mat-list-item (click)="isMobileView ? drawer.toggle() : false" routerLinkActive="mat-icon-active" style="color: #007db8;">
                <mat-icon mat-list-icon>help</mat-icon>
                <span [routerLink]="['/question/pending', 'view']" mat-line>Pending Question</span>
              </mat-list-item>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header> <!-- Blog category list-->
            <mat-panel-title style="color: #007db8;">
              <mat-icon class="tech-nav-header-icon">note</mat-icon>
              <span class="nav-list-item-text">Blog</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="tech-nav-sublist">
            <ng-container> <!--Blog sub category list-->
              <mat-list-item (click)="isMobileView ? drawer.toggle() : false" routerLinkActive="mat-icon-active" style="color: #007db8;">
                <mat-icon mat-list-icon>note_add</mat-icon>
                <span [routerLink]="['/blog/write', 'new']" mat-line>Write Blog</span>
              </mat-list-item>
              <mat-list-item (click)="isMobileView ? drawer.toggle() : false" routerLinkActive="mat-icon-active" style="color: #007db8;">
                <mat-icon mat-list-icon>note</mat-icon>
                <span [routerLink]="['/blog/list', 'view']" mat-line>My Blog</span>
              </mat-list-item>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header> <!--Question category list-->
            <mat-panel-title style="color: #007db8;">
              <mat-icon class="tech-nav-header-icon">help</mat-icon>
              <span class="nav-list-item-text">Question</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="tech-nav-sublist">
            <ng-container> <!--Question sub category list-->
              <mat-list-item (click)="isMobileView ? drawer.toggle() : false" routerLinkActive="mat-icon-active" style="color: #007db8;">
                <mat-icon mat-list-icon>create</mat-icon>
                <span [routerLink]="['/question/write', 'new']" mat-line>Ask Question</span>
              </mat-list-item>
              <mat-list-item (click)="isMobileView ? drawer.toggle() : false" routerLinkActive="mat-icon-active" style="color: #007db8;">
                <mat-icon mat-list-icon>help</mat-icon>
                <span [routerLink]="['/question/list', 'view']" mat-line>My Question</span>
              </mat-list-item>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header> <!-- Network category list-->
            <mat-panel-title style="color: #007db8;">
              <mat-icon class="tech-nav-header-icon">group</mat-icon>
              <span class="nav-list-item-text">Network</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="tech-nav-sublist">
            <ng-container> <!--Network sub category list-->
              <mat-list-item (click)="isMobileView ? drawer.toggle() : false" routerLinkActive="mat-icon-active" style="color: #007db8;">
                <mat-icon mat-list-icon>people</mat-icon>
                <span [routerLink]="['/followers', 'view']" mat-line>Followers</span>
              </mat-list-item>
              <mat-list-item (click)="isMobileView ? drawer.toggle() : false" routerLinkActive="mat-icon-active" style="color: #007db8;">
                <mat-icon mat-list-icon>people</mat-icon>
                <span [routerLink]="['/following', 'view']" mat-line>Following</span>
              </mat-list-item>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header> <!-- Settings category list-->
            <mat-panel-title style="color: #007db8;">
              <mat-icon class="tech-nav-header-icon">settings</mat-icon>
              <span class="nav-list-item-text">Settings</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="tech-nav-sublist">
            <ng-container> <!--Settings sub category list-->
              <mat-list-item (click)="isMobileView ? drawer.toggle() : false" routerLinkActive="mat-icon-active" style="color: #007db8;">
                <mat-icon mat-list-icon>delete</mat-icon>
                <span (click)="clearUserCache()" mat-line>Clear app cache</span>
                <!--
                <mat-icon mat-list-icon>settings</mat-icon>
                <span [routerLink]="['/settings', 'view']" mat-line>Settings</span>
                -->
              </mat-list-item>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-list>

    </mat-sidenav>

    <!-- =============================================================== -->
    <!--                   right side nav bar                            -->
    <!-- =============================================================== -->
    <mat-sidenav fxShow fxHide.lt-sm fxHide.lt-md position="end" class="mat-elevation-z10" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches ? 'close' : 'open'" fixedTopGap="64" [fixedInViewport]="mobileQuery.matches" role="navigation" style="width:270px;">
      <tech-right-side-bar></tech-right-side-bar>
    </mat-sidenav>

    <!-- =============================================================== -->
    <!--                    main content area                            -->
    <!-- =============================================================== -->
    <mat-sidenav-content style="margin-top:55px;">
      <div class="scrollbar" id="main-section" style="margin: 10px;">
        <router-outlet></router-outlet>
      </div>
      <!--<div style="height: 64px;"></div>-->
    </mat-sidenav-content>

  </mat-sidenav-container>

  <!-- =============================================================== -->
  <!--                      menu bar                                   -->
  <!-- =============================================================== -->
  <mat-menu yPosition="below" [overlapTrigger]="false" #rootMenu="matMenu">
    <tech-menu-bar [user]="user$ | async" (signOutHandler)="signOut($event)"></tech-menu-bar>
  </mat-menu>

</div>

