<h2 mat-dialog-title>Technocracy Privacy Policy</h2>
<mat-dialog-content class="mat-typography">
  <h3>Effective: Sep 7, 2018</h3>

  <p>This policy explains what information we collect when you use Technocracy's sites, services, mobile applications,
     and content ("Services"). It also has information about how we store, use, transfer, and delete that information.
    Our aim is not just to comply with privacy law. It's to earn your trust.</p>

  <h3>Information We Collect & How We Use It</h3>
  <p>In order to give you the best possible experience using Technocracy, we collect information from your interactions
    with our network. Some of this information, you actively tell us (such as your email address,
    which we use to track your account or communicate with you). Other information, we collect based on actions
    you take while using Technocracy, such as what pages you access and your interactions with our product features (like highlights,
    follows, and applause). This information includes records of those interactions, your Internet Protocol address,
    information about your device (such as device or browser type), and referral information.</p>
  <p>
    We use this information to:
  </p>
  <ul>
    <li>provide, test, improve, promote and personalize Technocracy Services</li>
    <li>fight spam and other forms of abuse</li>
    <li>generate aggregate, non-identifying information about how people use Technocracy Services</li>
  </ul>
  <p>
    When you create your Technocracy account, and authenticate with a third-party service (like Twitter, Facebook or Google)
    we may collect, store, and periodically update information associated with that third-party account,
    such as your email id or account photos. We will never publish through your third-party account without your permission.
  </p>

  <h3>Information Disclosure</h3>
  <p>Technocracy won't transfer information about you to third parties for the purpose of providing or facilitating third-party
    advertising to you. We won't sell information about you.</p>
  <p>
    We may share your account information with third parties in some circumstances, including: (1) with your consent;
    (2) to a service provider or partner who meets our data protection standards; (3) with academic or non-profit researchers,
    with aggregation, anonymization, or pseudonomization; (4) when we have a good faith belief it is required by law,
    such as pursuant to a subpoena or other legal process; (5) when we have a good faith belief that doing so will help prevent
    imminent harm to someone.
  </p>
  <p>
    If we are going to share your information in response to legal process, we'll give you notice so you can challenge it
    (for example by seeking court intervention), unless we're prohibited by law or believe doing so may endanger others.
    We will object to requests for information about users of our services that we believe are improper.
  </p>

  <h3>Data Storage</h3>
  <p>Technocracy uses third-party vendors and hosting partners, such as Amazon, Digital Ocean etc, for hardware, software, networking, storage,
    and related technology we need to run Technocracy. We maintain two types of logs: server logs and event logs.
    By using Technocracy Services, you authorize Technocracy to transfer, store, and use your information in the United States, India
    and any other country where we operate..</p>

  <h3>Third-Party Embeds</h3>
  <p>Some of the content that you see displayed on Technocracy is not hosted by Technocracy. These "embeds" are hosted by a third-party
    and embedded in Technocracy. For example: YouTube or Vimeo videos, Imgur or Giphy gifs, SoundCloud audio files, Twitter tweets,
    GitHub code, or Scribd documents that appear within a Technocracy post. These files send data to the hosted site just as if
    you were visiting that site directly (for example, when you load a Technocracy post page with a YouTube video embedded in it,
    YouTube receives data about your activity). Technocracy does not control what data third parties collect in cases like this,
    or what they will do with it. So, third-party embeds on Technocracy are not covered by this privacy policy. They are covered by
    the privacy policy of the third-party service.</p>
  <p>
    Some embeds may ask you for personal information, such as your email address, through a form. We do our best to keep bad
    actors off of Technocracy. However, if you choose to submit your information to a third party this way, we don't know what
    they may do with it. As explained above, their actions are not covered by this Privacy Policy. So, please be careful
    when you see embedded forms on Technocracy asking for your email address or any other personal information. Make sure
    you understand who you are submitting your information to and what they say they plan to do with it. We suggest that
    you do not submit personal information to any third-party through an embedded form.
  </p>
  <p>
    If you embed a form that allows submission of personal information by users, you must provide near the embedded form
    a prominent link to an applicable Privacy Policy that clearly states how to you intend to use any information collected.
    Failure to do so may lead Technocracy to disable the post or take other action to limit or disable your account.
  </p>

  <h3>Tracking & Cookies</h3>
  <p>We use browser cookies and similar technologies to recognize you when you return to our Services.
    We use them in various ways, for example to log you in, remember your preferences (such as default language),
    evaluate email effectiveness, and personalize content and other information.</p>
  <p>
    Technocracy doesn't track you across the Internet. We track only your interactions within the Technocracy network (which encompasses Technocracy.com).
  </p>
  <p>
    Some third-party services that we use to provide the Technocracy Service, such as Google Analytics, may place their own cookies
    in your browser. This Privacy Policy covers use of cookies by Technocracy only and not the use of cookies by third parties.
  </p>
  <p>
    Technocracy complies with the "Do Not Track" ("DNT") standard recommended by the World Wide Web Consortium. For logged-out users
    browsing with DNT enabled, Technocracy's analytics will not receive data about you, but we will do some first-party tracking in
    order to customize content and provide data to third-party service providers that enable Technocracy Services to work.
    When you use Technocracy while logged-in to your account, we cannot comply with DNT.
  </p>

  <h3>Modifying or Deleting Your Personal Information</h3>
  <p>If you have a Technocracy account, you can access, modify or export your personal information, or delete your account
    <a href="https://www.tecknocracy.com/#/settings">here</a>.</p>
  <p>To protect information from accidental or malicious destruction, we may maintain residual copies for a brief time period.
    But, if you delete your account, your information and content will be unrecoverable after that time.
    Technocracy may preserve and maintain copies of your information when required to do so by law.</p>

  <h3>Data Security</h3>
  <p>We use encryption (HTTPS/TLS) to protect data transmitted to and from our site. However, no data transmission over the
    Internet is 100% secure, so we can't guarantee security. You use the Service at your own risk, and you're responsible for taking reasonable measures to secure your account.</p>

  <h3>Business Transfers</h3>
  <p>If we are involved in a merger, acquisition, bankruptcy, reorganization or sale of assets such that your information
    would be transferred or become subject to a different privacy policy,
    we'll notify you in advance so you can opt out of any such new policy by deleting your account before transfer.</p>

  <h3>Email from Technocracy</h3>
  <p>Sometimes we'll send you emails about your account, service changes or new policies. You can't opt out of this type
    of "transactional" email (unless you delete your account). But, you can opt out of non-administrative emails such as digests,
    newsletters, and activity notifications through your account's "Settings" page</p>
  <p>
    When your interact with an email sent from Technocracy (such as opening an email or clicking on a particular link in an email),
    we may receive information about that interaction. We won't email you to ask for your password or other account information.
    If you receive such an email, please send it to us so we can investigate.
  </p>

  <h3>Changes to this Policy</h3>
  <p>Technocracy may periodically update this Policy. We'll notify you about significant changes to it. The most current version
    of the policy will always be that you are reading now and we will archive former versions of the policy <a href="https://github.com/Technocracy/technocracy-policy">here</a>.</p>

  <h3>Questions</h3>
  <p>We welcome feedback about this policy at editors@tecknocracy.com.</p>

  <h3>Contact Information</h3>
  <p>Technocracy Corporation</p>
  <p>W7/1601 Eros Cyber Space Building</p>
  <p>Sector-02, Noida, India</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Reject</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Accept</button>
</mat-dialog-actions>

