<div fxLayout="column" fxLayoutAlign="center center">
<h2 mat-dialog-title>Technocracy Terms of Service</h2>
<mat-dialog-content class="mat-typography">
  <h3>Effective: Sep 7, 2018</h3>

  <p>These Terms of Service (Terms) are a contract between you and Technocracy Corporation. They govern your use of Technocracy’s sites, services, mobile apps, and content ("Services").</p>

  <p>By using Technocracy, you agree to these Terms. If you don’t agree to any of the Terms, you can’t use Technocracy.</p>
  <p>We can change these Terms at any time. We keep a historical record of all changes to our Terms on GitHub. If a change is
    material, we’ll let you know before they take effect. By using Technocracy on or after that effective date, you agree to the new
    Terms. If you don’t agree to them, you should delete your account before they take effect, otherwise your use of the site
    and content will be subject to the new Terms.</p>

  <h3>Content rights & responsibilities</h3>
  <p>You own the rights to the content you create and post on Technocracy.</p>
  <p>By posting content to Technocracy, you give us a nonexclusive license to publish it on Technocracy Services,
    including anything reasonably related to publishing it (like storing, displaying, reformatting, and distributing it).
    In consideration for Technocracy granting you access to and use of the Services, you agree that Technocracy may enable
    advertising on the Services, including in connection with the display of your content or other information.
    We may also use your content to promote Technocracy, including its products and content. We will never sell your content
    to third parties without your explicit permission.</p>
  <p>You’re responsible for the content you post. This means you assume all risks related to it,
    including someone else’s reliance on its accuracy,
    or claims relating to intellectual property or other legal rights.</p>
  <p>You’re welcome to post content on Technocracy that you’ve published elsewhere,
    as long as you have the rights you need to do so. By posting content to Technocracy,
    you represent that doing so doesn’t conflict with any other agreement you’ve made.</p>
  <p>By posting content you didn’t create to Technocracy, you are representing that you have the right to do so.
    For example, you are posting a work that’s in the public domain, used under license (including a free license,
    such as Creative Commons), or a fair use.</p>
  <p>We can remove any content you post for any reason.</p>
  <p>You can delete any of your posts, or your account, anytime. Processing the deletion may take a little time,
    but we’ll do it as quickly as possible. We may keep backup copies of your deleted post or account on our servers for up
    to 14 days after you delete it.</p>

  <h3>Our content and services</h3>
  <p>We reserve all rights in Technocracy’s look and feel. Some parts of Technocracy are licensed under third-party open source licenses.
    We also make some of our own code available under open source licenses. As for other parts of Technocracy, you may not copy or
    adapt any portion of our code or visual design elements (including logos) without express written permission from Technocracy
    unless otherwise permitted by law.</p>
  <p>You may not do, or try to do, the following: (1) access or tamper with non-public areas of the Services, our computer
    systems, or the systems of our technical providers; (2) access or search the Services by any means other than the currently
    available, published interfaces (e.g., APIs) that we provide; (3) forge any TCP/IP packet header or any part of the header
    information in any email or posting, or in any way use the Services to send altered, deceptive, or false source-identifying
    information; or (4) interfere with, or disrupt, the access of any user, host, or network, including sending a virus,
    overloading, flooding, spamming, mail-bombing the Services, or by scripting the creation of content or accounts in such
    a manner as to interfere with or create an undue burden on the Services.</p>
  <p>Crawling the Services is allowed if done in accordance with the provisions of our robots.txt file, but scraping the
    Services is prohibited.</p>
  <p>We may change, terminate, or restrict access to any aspect of the service, at any time, without notice.</p>

  <h3>No children</h3>
  <p>Technocracy is only for people 13 years old and over. By using Technocracy, you affirm that you are over 13. If we learn someone
    under 13 is using Technocracy, we’ll terminate their account.</p>

  <h3>Security</h3>

  <p>If you find a security vulnerability on Technocracy, tell us. To report a vulnerability, please email us at editors@tecknocracy.com.</p>

  <h3>Incorporated rules and policies</h3>

  <p>By using the Services, you agree to let Technocracy collect and use information as detailed in our Privacy Policy. If you’re
    outside the India, you consent to letting Technocracy transfer, store, and process your information
    (including your personal information and content) in and out of the India.</p>

  <p>To enable a functioning community, we have Rules. To ensure usernames are distributed and used fairly, we have a Username
    Policy. Under our DMCA Policy, we’ll remove material after receiving a valid takedown notice. Under our Trademark Policy,
    we’ll investigate any use of another’s trademark and respond appropriately.</p>

  <p>By using Technocracy, you agree to follow these Rules and Policies. If you don’t, we may remove content, or suspend or
    delete your account.</p>

  <h3>Miscellaneous</h3>
  <p>Disclaimer of warranty. Technocracy provides the Services to you as is. You use them at your own risk and discretion.
    That means they don’t come with any warranty. None express, none implied. No implied warranty of merchantability,
    fitness for a particular purpose, availability, security, title or non-infringement.</p>

  <p>Limitation of Liability. Technocracy won’t be liable to you for any damages that arise from your using the Services.
    This includes if the Services are hacked or unavailable. This includes all types of damages (indirect, incidental,
    consequential, special or exemplary). And it includes all kinds of legal claims, such as breach of contract, breach
    of warranty, tort, or any other loss.</p>

  <p>No waiver. If Technocracy doesn’t exercise a particular right under these Terms, that doesn’t waive it.</p>

  <p>Severability. If any provision of these terms is found invalid by a court of competent jurisdiction, you agree that
    the court should try to give effect to the parties’ intentions as reflected in the provision and that other provisions
    of the Terms will remain in full effect.</p>

  <p>Choice of law and jurisdiction. These Terms are governed by Indian law, without reference to its conflict of laws
    provisions. You agree that any suit arising from the Services must take place in a court located in India.</p>
  <p>Entire agreement. These Terms (including any document incorporated by reference into them) are the whole agreement
    between Technocracy and you concerning the Services.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Reject</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Accept</button>
</mat-dialog-actions>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
</div>
