@import "../../../app.component";

$unsubscribe-width: 100%;

.tech-unsubscribe-card{
  /*margin: auto;
  width: 315px;*/
  /*width: 37%; need to adjust mobile device*/
  margin-top: 20px;
}
h5{
  color: $main-color;
}
.tech-unsubscribe-container {
  display: flex;
  flex-direction: column;
}

.tech-unsubscribe-container > * {
  width: $unsubscribe-width;
}

.tech-card-content{
  margin: 0 8px;
}

.tech-unsubscribe-form{
  display: flex;
  flex-direction: column;
}
.tech-unsubscribe-loading{
  margin: auto;
  padding-top: 10px;
  /*margin-left: 140px;
  margin-top: 10px;*/
}

.tech-align-center{
  color: darkgray;
  margin-left: 100px;
  margin-bottom: 35px;
  margin-top: 35px;
}

.tech-unsubscribe-error{
  margin: auto;
  color: red;
  background-color: antiquewhite;
  /* margin-left: 20px; */
}
