<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="tech-acc-welcome-card" flex style="margin-top: 3px;">
    <mat-card-title><h3>Welcome to Technocracy Blog Community!</h3></mat-card-title>

    <mat-card-content>
      <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" class="m_2760232353335187221devicewidth">
        <tr>
          <td class="m_2760232353335187221mktEditable m_2760232353335187221content m_2760232353335187221mktEditable m_2760232353335187221content" id="m_2760232353335187221edit_text_1" style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:16px;color:#505050;line-height:25.6px;font-weight:normal;text-transform:none">
            <p>Join your hand with active developers around the world. You'll find many ways to learn, grow,and contribute to the Technocracy developer blog community.
              <br><br>
              <span style="color:#101d69;font-size:25px;font-family:'Proxima Nova Light','Open Sans','Helvetica Neue',Calibri,Helvetica,sans-serif">Join the online community forum</span>
              <br> <br>Get the most out of your Technocracy account by getting involved in our online community, where you'll find an active Q&amp;A and 1000+ blogs.
              <br><br>
              Meet software developers of all skill levels to share resources, learn and form discussions around the world.
              <span>If you have any question in your mind...??</span><br>
              <a href="https://www.tecknocracy.com/question/ask/new" target="_blank"><strong>Ask here</strong></a>


              <br><br><span style="color:#101d69;font-size:25px;font-family:'Proxima Nova Light','Open Sans','Helvetica Neue',Calibri,Helvetica,sans-serif">Become a community author</span>
              <br><br>If you have a knack for explaining things and the drive to help other software developers and new technical guys, our editorial team would love to work with you to publish your content.<br>
              <a href="https://www.tecknocracy.com/profile" target="_blank"><strong>Apply here</strong></a>
              <br><br><span style="color:#101d69;font-size:25px;font-family:'Proxima Nova Light','Open Sans','Helvetica Neue',Calibri,Helvetica,sans-serif">Or, just watch and listen!</span>
              <br> <br>Subscribe to Technocracy blog community as a user to get our roundup of whatever happenings and new blog be delivered to your inbox every weeks.
              <br><strong><a href="https://www.tecknocracy.com/subscribe" target="_blank">Subscribe here</a></strong>
              <br><br> Take a look around and join the conversation.</p>
              <p>Happy Coding,<br>Team Technocracy Blog</p>
          </td>
          <td class="m_2760232353335187221w22" width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
