<div fxLayout="column" fxLayoutAlign="center center">

  <mat-card class="tech-question-card">
    <mat-card-header class="tech-blog-card-header">
      <mat-card-title><h5>{{question?.title}} </h5></mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="tech-card-content">
      <div style="overflow-wrap: break-word;">
        <div [innerHTML]="question?.content | safeHtml"></div>
      </div>
    </mat-card-content>

    <!--<ng-adsense></ng-adsense>-->
    <tech-ad-sense></tech-ad-sense>

    <mat-divider></mat-divider>

    <div class="tech-inline-share-box">
      <strong>may be someone can have better answer of this question?</strong><br>
      <tech-share [shareType]="'question'" [data]="question"></tech-share>
    </div>

    <!--Querent's Description and Tags-->
    <mat-card class="tech-querent-card">
      <h6>asked {{question?.publishedOn | fromNow }}</h6>
      <mat-card-header class="tech-author-card-header">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="font-size: 12px;">{{getUserName(question?.askedBy)}}</mat-card-title>
        <mat-card-subtitle style="color: #9594b1;font-size: 11px;">{{question?.tags}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card-actions>
      <button (click)="like()" class="tech-button" mat-button color="primary">
        <mat-icon>thumb_up_alt</mat-icon> {{question?.likes?.length}} Like
      </button>
      <button (click)="addComment()" class="tech-button" mat-button color="primary">
        <mat-icon>question_answer</mat-icon> {{question?.comments?.length}} Answer
      </button>
    </mat-card-actions>
  </mat-card>

  <!--Comment Editor Section-->
  <div *ngIf="utilService.isAuthenticated()" class="tech-comment-editor">
    <mat-card class="tech-comment-editor-card">
      <h5><i class="fa fa-pencil-square-o"></i> Write Answer</h5>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div id="richTextEditor" #richTextEditor>
          <tech-editor
            [contentId]="question?._id"
            [editorType]="'comment'"
            [placeHolder]="'Write your answer here...'"
            [content]="contentToUpdate"
            (onEditorContentChange)="editorContentHandler($event)"
          >
          </tech-editor>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions class="tech-comment-editor-card-footer">
          <mat-checkbox [(ngModel)]="notification" aria-label="Notification">Send me notification</mat-checkbox>
          <button class="tech-comment-editor-button" (click)="addComment()" mat-button color="primary">
            Add answer
          </button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>

  </div>

  <!--Comment Section-->
  <tech-comments [comments]="question?.comments" (onCommentActionTriggered)="commentActionHandler($event)"></tech-comments>
</div>
