@import "../../../app.component";

h5{
  color: $main-color;
}
.tech-question-card{
  margin-top: -15px;
  margin-bottom: 5px;
}
.tech-card-content{
  margin-bottom: 0px;
}
h6{
  margin-bottom: 15px;
  color: darkgray;
}
.tech-querent-card{
  background-color: $main-color;
  color: white;
  margin-bottom: 10px;
}
.tech-author-card-subtitle{
  color: burlywood;
  font-size: 12px;
}
strong{
  color: #989a70;
}
.tech-inline-share-box{
  margin-top: 25px;
  font-size: 12px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.tech-comment-editor-card{
  margin-bottom: 5px;
}
.tech-button{
  background-color: aliceblue;
}
.tech-comment-editor-card-footer{
  margin-left: 15px;
  margin-right: 15px;
}
.tech-comment-editor-button{
  float: right;
  background-color: aliceblue;
}
